body {
  font-family: 'helvetica','arial', sans-serif;
}

.main__table::-webkit-scrollbar {
  width: 16px;
}

.main__table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background: rgba(144, 96, 144, 0.2);
}

.main__table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.main {
  &__table {
    max-height: 100vh;
    table {
      border-collapse: unset;
      td, th {
        width: 350px;
        min-width: 350px;
        padding: 5px;
        border: 1px solid #ccc;
      }
      td {
        background-color: #fffff0;
      }
      th,
      td:first-child,{
        background-color: #f4faff;
      }
    }
  }
}

